@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    ;
    text-align: center;
    min-height: 100%;
    background-color: #93fff6;
}

.carousel {
    @media(min-width: 1200px) {
        margin-left: 9rem;
        margin-right: 9rem;
    }
}

.spam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 10px;
    background-color: ghostwhite;

    div {
        margin: 10px 50px;

        .intospam {
            text-shadow: 1px 1px 1px rgba(75, 74, 74, 0.719);
        }
    }
}

.mapa {
    width: 70%;
    @include radius(rgba(121, 196, 183, 0.527));

    @media(min-width:1200px) {
        width: 600px;
        height: 600px;
    }
}

p {
    color: #787c7b;
}

header {
    grid-area: header;
}


.secgrid {
    grid-area: section;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "section"
        "main"
        "footer";

}
