body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    min-height: 100%;
    background-color: #93fff6;
}

footer {
    background-color: map-get($colores, "headerf");
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.mapa {
    width: 70%;
    @include radius(rgba(121, 196, 183, 0.527));

    @media(min-width:1200px) {
        width: 600px;
        height: 600px;
    }
}

p {
    color: #787c7b;
}
