body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    min-height: 100%;
    background-color: #93fff6;
}

footer {
    background-color: rgb(77, 197, 197);
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.mapa {
    width: 70%;
}

p {
    color: #787c7b;
}
