.formularioIframe {
    @extend .medidasFI;
    background-color: $color-principal;
    box-shadow: 2px 2px 2px rgba(46, 94, 91, 0.623);

    @media(min-width:600px) {
        padding: 20px;
        margin: 5%;
        font-size: 15px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}