.formularioIframe {
    @extend .medidasFI;

    @media(min-width:600px) {
        padding: 20px;
        margin: 5%;
        font-size: 15px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}