.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .mov {
        @extend .transicion;

        &:hover {
            transform: scale(1.1);
        }

        .indexi {
            @include radius;
            width: 250px;
            height: 250px;
            padding: 5px;

            @media(max-width:600px) {
                width: 180px;
                height: 180px;
            }

            @media(min-width:1200px) {
                width: 300px;
                height: 300px;
            }
        }
    }
}