@media(min-width:600px) {
    .formularioIframe {
        padding: 20px;
        margin: 5%;
        font-size: 15px;
    }

}

@media(min-width:1200px) {

    .mapa {
        width: 600px;
        height: 600px;
    }

}