.prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin: 32px;
        padding: 20px;
        background-color: #6fbdb97c;
    }

    .mov {
        @extend .transicion;
        @include radius;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.pago {
    display: flex;
    color: #194648;
    background-color: $color-principal;
    font-size: medium;
    margin-bottom: 0;

}