.prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin: 32px;
        padding: 20px;
        background-color: #6fbdb97c;
        h5 {
            color: #194648
        }

        a{
            align-items: flex-end
        }
    }

    .mov {
        @extend .transicion;
        @include radius;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.pago {
    display: flex;
    align-items: center;
    color: #194648;
    background-color: $color-principal;
    margin-bottom: 0;
    h4{
        font-size: 22px;
        font-weight:lighter;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}