.titulos {
    background-color: #63dadaea;
    margin-top: 0;
    font-size: 20px;

    h1 {
        padding:20px 0;
        color: map-get($colores, "antiwhite");
        font-size: 20px;
    }
}

.indexsub {
    background-color: $color-principal;
    padding: 20px 0;
    margin: 20px 35px;
    border: 3px inset #2b717a8c;
}

h5 {
    color: #e2f4f2;
}