@import '../base/base';

.pago {
    display: flex;
    color: #194648;
    background-color: $color-principal;
    font-size: medium;
    margin-bottom: 0;

}

.formularioIframe {
    background-color: $color-principal;
    padding: 50px;
    margin: 5%;
    font-size: 15px;
}